@import 'fonts';
@import 'mixins';

#loginbox {
	float: right;
	margin: {
		left: $module_spacing;
		right: $module_spacing;
	}
}

#loginform {
	max-width: 250px;
	label {
		width: 100%;
		display: block;
	}
	button {
		display: block;
		width: 100%;
	}
}

#newuserform {
	margin: auto;
	max-width: 400px;

	label {
		clear: both;
		float: left;
		overflow: hidden;
		text-align: right;
		width: 100%;

		input {
			width: 50%;
			float: right;
		}
	}
}