@import 'fonts';
@import 'mixins';

#newsbox {
	
	padding: 4px;
	background: #CCCCCC;
	
	article {
		font: {
			family: $font_main; 
		}

		h1 {
			font: {
				family: $font_accent; 
				size: 18px;
				weight: normal;
			}
			margin: 0px;
			padding: 0px;
			background: none;
			
		}
		h2 {
			font: {
				family: $font_subheading; 
				size: 12px;
				weight: normal;
			}
			margin: 0px;
			padding: 0px;
			padding-left: 16px;
			font-style: italic;
			background: none;
		}
	}
}