@import "fonts";
@import "mixins";

@import "battle";
@import "editor";
@import "faq";
@import "footer";
@import "login";
@import "newbattle";
@import "news";
@import "titlebar";

* {
	box-sizing: border-box;
}


button {
	cursor: default;
	a {
		color: black;
		cursor: default;
		text-decoration: none;
	}
}
code {
	font-family: $font_monospace;
}
.clear {
	clear: both;
}
body {
	background: url('/static/images/background2.png');
	padding: 0px;
	font: {
		family: $font_main;
		size: 15px;
	}
}
#flashes {
	background: #FFFF00;
	border-bottom: 1px dotted #FF0000;
	border-top: 1px dotted #FF0000;
	color: #FF0000; 
	margin-bottom: 20px;
	margin:auto;
	padding: 4px;

	li {
		list-style: none;
		margin-left: 20px;
	}
}
#bodybox {
	background: $light_bg;
	border-bottom-left-radius: $module_radius;
	border-bottom-right-radius: $module_radius;
	color: $main_text;
	font-family: $font_main;
	margin: {
		left: 100px;
		right: 100px;
	}
	padding:  {
		bottom: 10px;
		left: 0px;
		right: 0px;
		top: 40px;
	}

	h1 {
		-moz-box-sizing: border-box;
		background: $light_bg2;
		box-sizing: border-box;
		display: block;
		margin: 0px;
		width: 100%;
		font: {
			family: $font_title;
			size : 40px;
			weight: normal;
		}
		padding:  {
			left: 20px;
			right 20px;
			top: 5px;
			bottom: 5px;
		}
	}
	h2 {
		margin: 0px;
		font: {
			family: $font_heading;
			size: 20px;
			weight: normal;
		}
	}
	h3 {
		margin: 0px;
		font {
			family: $font_subheading;
			size: 15px;
			weight: normal;
		}
	}
	h4 {
		margin: 0px;
		font: {
			size: 12px;
			weight: normal;
		} 
	}
	p {
		padding: 0px;
		margin:
		{
			bottom: 6px;
			left: 0px;
			right: 0px;
			top: 0px;
		}
	} section {
		margin: {
			bottom: $module_spacing;
			top: $module_spacing;
		}
		padding: {
			left: $module_spacing;
			right: $module_spacing;
		}
	}
	.module {
		background: $light_bg2;
		border-radius: $module_radius;
		float: left;
		padding: 16px;
		margin:  {
			bottom: 0px;
			left: $module_spacing;
			right: 0px;
			top: $module_spacing;
		}
	}
	.news {
		max-width: 400px;
	}
	.recent_battles {
		
	}
	.modulebox {
		padding: {
			bottom: $module_spacing + 0px;
			left: 0px;
			right: $module_spacing + 0px;
			top: 0px;
		}
	}
	ul.list {
		list-style: none;
		margin: 0px;
		padding: {
			left: 10px;
		}
		
		li: {
			list-style: none;
		}
	}
}

// extras
.right {
	float: right;
}
.left: {
	float: left;
}