@font-face {
  font-family: HansKendrick;
  src: url('/static/fonts/HansKendrick-Regular.ttf'); }

  @font-face {
    font-family: Inconsolata;
    src: url('/static/fonts/Inconsolata-dz.otf'); }

    @font-face {
      font-family: Orbitron-black;
      src: url('/static/fonts/orbitron-black-webfont.woff');
      font-weight: normal; }

      @font-face {
        font-family: Orbitron;
        src: url('/static/fonts/orbitron-bold-webfont.woff');
        font-weight: normal; }

        @font-face {
          font-family: Orbitron-light;
          src: url('/static/fonts/orbitron-light-webfont.woff');
          font-weight: normal; }

          @font-face {
            font-family: Raleway;
            src: url('/static/fonts/raleway_thin-webfont.woff'); }

            @font-face {
              font-family: Gen;
              src: url('/static/fonts/Gen-Regular.otf'); }

              @font-face {
                font-family: Gen-light;
                src: url('/static/fonts/Gen-Light.otf'); }

                @font-face {
                  font-family: Gen-light;
                  src: url('/static/fonts/Gen-Regular.otf');
                  font-weight: bold; }

                  @font-face {
                    font-family: Anonymous;
                    src: url('/static/fonts/Anonymous_Pro.ttf');
                    font-weight: normal; }

                    @font-face {
                      font-family: Anonymous;
                      src: url('/static/fonts/Anonymous_Pro_I.ttf');
                      font-weight: normal;
                      font-style: italic; }

                      @font-face {
                        font-family: Anonymous;
                        src: url('/static/fonts/Anonymous_Pro_B.ttf');
                        font-weight: bold;
                        font-style: normal; }

                        @font-face {
                          font-family: Anonymous;
                          src: url('/static/fonts/Anonymous_Pro_BI.ttf');
                          font-weight: bold;
                          font-style: italic; }

                          @font-face {
                            font-family: LeagueGothic;
                            src: url('/static/fonts/leaguegothic-regular-webfont.woff');
                            font-weight: normal;
                            font-style: normal; }

                            @font-face {
                              font-family: LeagueGothic;
                              src: url('/static/fonts/leaguegothic-italic-webfont.woff');
                              font-weight: normal;
                              font-style: italic; }

                              @font-face {
                                font-family: LeagueGothicCondensed;
                                src: url('/static/fonts/leaguegothic-condensed-regular-webfont.woff');
                                font-weight: normal;
                                font-style: normal; }

                                @font-face {
                                  font-family: LeagueGothicCondensed;
                                  src: url('/static/fonts/leaguegothic-condensed-italic-webfont.woff');
                                  font-weight: normal;
                                  font-style: italic; }
#footer {
  text-align: center;
  margin: auto;
  width: 50%;
  color: #999;
  font-size: 12px; }
  #footer .navlist {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px; }
    #footer .navlist li {
      display: inline;
      list-style: none;
      padding: 0px;
      margin-left: 5px;
      margin-right: 5px; }
      #footer .navlist li a {
        color: #DFDFDF; }
        #footer .navlist li a:hover {
          color: #FFF; }
          #footer .navlist li a:active {
            color: #FFF; }
