@font-face {
  font-family: HansKendrick;
  src: url('/static/fonts/HansKendrick-Regular.ttf'); }

  @font-face {
    font-family: Inconsolata;
    src: url('/static/fonts/Inconsolata-dz.otf'); }

    @font-face {
      font-family: Orbitron-black;
      src: url('/static/fonts/orbitron-black-webfont.woff');
      font-weight: normal; }

      @font-face {
        font-family: Orbitron;
        src: url('/static/fonts/orbitron-bold-webfont.woff');
        font-weight: normal; }

        @font-face {
          font-family: Orbitron-light;
          src: url('/static/fonts/orbitron-light-webfont.woff');
          font-weight: normal; }

          @font-face {
            font-family: Raleway;
            src: url('/static/fonts/raleway_thin-webfont.woff'); }

            @font-face {
              font-family: Gen;
              src: url('/static/fonts/Gen-Regular.otf'); }

              @font-face {
                font-family: Gen-light;
                src: url('/static/fonts/Gen-Light.otf'); }

                @font-face {
                  font-family: Gen-light;
                  src: url('/static/fonts/Gen-Regular.otf');
                  font-weight: bold; }

                  @font-face {
                    font-family: Anonymous;
                    src: url('/static/fonts/Anonymous_Pro.ttf');
                    font-weight: normal; }

                    @font-face {
                      font-family: Anonymous;
                      src: url('/static/fonts/Anonymous_Pro_I.ttf');
                      font-weight: normal;
                      font-style: italic; }

                      @font-face {
                        font-family: Anonymous;
                        src: url('/static/fonts/Anonymous_Pro_B.ttf');
                        font-weight: bold;
                        font-style: normal; }

                        @font-face {
                          font-family: Anonymous;
                          src: url('/static/fonts/Anonymous_Pro_BI.ttf');
                          font-weight: bold;
                          font-style: italic; }

                          @font-face {
                            font-family: LeagueGothic;
                            src: url('/static/fonts/leaguegothic-regular-webfont.woff');
                            font-weight: normal;
                            font-style: normal; }

                            @font-face {
                              font-family: LeagueGothic;
                              src: url('/static/fonts/leaguegothic-italic-webfont.woff');
                              font-weight: normal;
                              font-style: italic; }

                              @font-face {
                                font-family: LeagueGothicCondensed;
                                src: url('/static/fonts/leaguegothic-condensed-regular-webfont.woff');
                                font-weight: normal;
                                font-style: normal; }

                                @font-face {
                                  font-family: LeagueGothicCondensed;
                                  src: url('/static/fonts/leaguegothic-condensed-italic-webfont.woff');
                                  font-weight: normal;
                                  font-style: italic; }
#battlesettings {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  margin: 0px;
  width: 250px;
  background: #AAA;
  padding: 14px;
  border-radius: 8px; }

  #critterbox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px 16px;
    width: calc(100% - 250px); }
    #critterbox ul#critterlist {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      cursor: default;
      float: left;
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 35%; }
      #critterbox ul#critterlist li {
        background: #EEE;
        border-bottom: 1px dashed #BBB;
        padding: 4px 16px; }
        #critterbox ul#critterlist li:hover {
          background: #e1e1e1; }
          #critterbox ul#critterlist li:last-of-type {
            border-bottom: none; }
            #critterbox ul#critterlist li .ownername {
              font-size: 0.8em;
              padding-left: 10px; }
              #critterbox ul#critterlist li .ownername:after {
                content: ")"; }
                #critterbox ul#critterlist li .ownername:before {
                  content: "("; }
        #critterbox ul#critterlist li .remove {
          color: #DD0000;
          cursor: pointer;
          float: right;
          text-decoration: none; }
          #critterbox ul#critterlist li .remove:hover {
            text-decoration: underline; }
    #critterbox #critterselection {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      float: left;
      margin: 0px;
      min-width: 300px;
      padding-right: 14px;
      width: 65%; }
      #critterbox #critterselection #tabbuttonbar {
        background: #AAA; }
        #critterbox #critterselection #tabbuttonbar .tabbutton {
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          cursor: default;
          background: none;
          color: #3A3A3A;
          cursor: pointer;
          float: left;
          font-size: 13px;
          margin: 0px;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-left: 8px;
          padding-right: 8px; }
          #critterbox #critterselection #tabbuttonbar .tabbutton.active {
            cursor: default;
            background: #EEE; }
            #critterbox #critterselection #tabbuttonbar .tabbutton.active:hover {
              color: #3A3A3A; }
          #critterbox #critterselection #tabbuttonbar .tabbutton:hover {
            color: #EEE; }
      #critterbox #critterselection .tablebox {
        background: #EEE;
        border: 1px solid #888;
        display: block;
        max-height: 400px;
        overflow-y: auto;
        width: 100%; }
        #critterbox #critterselection .tablebox::-webkit-scrollbar {
          width: 12px; }
          #critterbox #critterselection .tablebox::-webkit-scrollbar-track {
            background: #CFCFCF; }
            #critterbox #critterselection .tablebox::-webkit-scrollbar-thumb {
              background: #AAA; }
              #critterbox #critterselection .tablebox div:first-child {
                border-bottom: 1px solid #888;
                font-weight: bold;
                overflow: hidden;
                padding: 4px; }
                #critterbox #critterselection .tablebox div:first-child span {
                  display: block;
                  float: left;
                  width: 32%; }
        #critterbox #critterselection .tablebox ul {
          list-style: none;
          margin: 0px;
          max-height: 400px;
          overflow: auto;
          padding: 0px;
          width: 100%; }
          #critterbox #critterselection .tablebox ul li {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            cursor: default;
            cursor: pointer;
            display: block;
            margin: 0px;
            overflow: hidden;
            padding: 4px;
            width: 100%; }
            #critterbox #critterselection .tablebox ul li:hover {
              background: #f0f0d6; }
              #critterbox #critterselection .tablebox ul li.selected {
                background: #dbdbef; }
            #critterbox #critterselection .tablebox ul li:nth-child(even) {
              background: #e1e1e1; }
              #critterbox #critterselection .tablebox ul li:nth-child(even):hover {
                background: #e4e4cb; }
                #critterbox #critterselection .tablebox ul li:nth-child(even).selected {
                  background: #d4d4e8; }
            #critterbox #critterselection .tablebox ul li span {
              display: block;
              float: left;
              width: 32%; }
        #critterbox #critterselection .tablebox table {
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          cursor: default;
          background: #EEE;
          border: 1px solid #888;
          max-height: 200px;
          width: 100%; }
          #critterbox #critterselection .tablebox table th {
            font-weight: bold;
            padding: 2px;
            text-align: left; }
          #critterbox #critterselection .tablebox table tr {
            border: none;
            margin: 0px;
            padding: 0px; }
            #critterbox #critterselection .tablebox table tr:hover {
              background: #e1e1e1; }
          #critterbox #critterselection .tablebox table td {
            padding: 2px;
            margin: 0px; }
            #critterbox #critterselection .tablebox table thead tr {
              border-bottom: 1px solid #888;
              background: #CFCFCF; }
              #critterbox #critterselection .tablebox table thead tr:hover {
                background: #CFCFCF; }

#createbutton {
  border-radius: 16px;
  background: #AAA;
  clear: both;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  text-decoration: underline;
  width: 200px;
  font-family: Orbitron-light, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.5em; }
  #createbutton:hover {
    background: #9d9d9d; }
    #createbutton.disabled {
      cursor: default;
      text-decoration: none;
      background: #b7b7b7;
      color: #888; }
      #createbutton.disabled:hover {
        background: #b7b7b7; }
