@font-face {
  font-family: HansKendrick;
  src: url('/static/fonts/HansKendrick-Regular.ttf'); }

  @font-face {
    font-family: Inconsolata;
    src: url('/static/fonts/Inconsolata-dz.otf'); }

    @font-face {
      font-family: Orbitron-black;
      src: url('/static/fonts/orbitron-black-webfont.woff');
      font-weight: normal; }

      @font-face {
        font-family: Orbitron;
        src: url('/static/fonts/orbitron-bold-webfont.woff');
        font-weight: normal; }

        @font-face {
          font-family: Orbitron-light;
          src: url('/static/fonts/orbitron-light-webfont.woff');
          font-weight: normal; }

          @font-face {
            font-family: Raleway;
            src: url('/static/fonts/raleway_thin-webfont.woff'); }

            @font-face {
              font-family: Gen;
              src: url('/static/fonts/Gen-Regular.otf'); }

              @font-face {
                font-family: Gen-light;
                src: url('/static/fonts/Gen-Light.otf'); }

                @font-face {
                  font-family: Gen-light;
                  src: url('/static/fonts/Gen-Regular.otf');
                  font-weight: bold; }

                  @font-face {
                    font-family: Anonymous;
                    src: url('/static/fonts/Anonymous_Pro.ttf');
                    font-weight: normal; }

                    @font-face {
                      font-family: Anonymous;
                      src: url('/static/fonts/Anonymous_Pro_I.ttf');
                      font-weight: normal;
                      font-style: italic; }

                      @font-face {
                        font-family: Anonymous;
                        src: url('/static/fonts/Anonymous_Pro_B.ttf');
                        font-weight: bold;
                        font-style: normal; }

                        @font-face {
                          font-family: Anonymous;
                          src: url('/static/fonts/Anonymous_Pro_BI.ttf');
                          font-weight: bold;
                          font-style: italic; }

                          @font-face {
                            font-family: LeagueGothic;
                            src: url('/static/fonts/leaguegothic-regular-webfont.woff');
                            font-weight: normal;
                            font-style: normal; }

                            @font-face {
                              font-family: LeagueGothic;
                              src: url('/static/fonts/leaguegothic-italic-webfont.woff');
                              font-weight: normal;
                              font-style: italic; }

                              @font-face {
                                font-family: LeagueGothicCondensed;
                                src: url('/static/fonts/leaguegothic-condensed-regular-webfont.woff');
                                font-weight: normal;
                                font-style: normal; }

                                @font-face {
                                  font-family: LeagueGothicCondensed;
                                  src: url('/static/fonts/leaguegothic-condensed-italic-webfont.woff');
                                  font-weight: normal;
                                  font-style: italic; }
#newsbox {
  padding: 4px;
  background: #CCCCCC; }
  #newsbox article {
    width: 400px;
    font-family: Gen-light, Helvetica, sans-serif; }
    #newsbox article h1 {
      font-family: HansKendrick, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: normal;
      margin: 0px;
      padding: 0px;
      background: none; }
      #newsbox article h2 {
        font-family: Anonymous, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        padding-left: 16px;
        font-style: italic;
        background: none; }
