@font-face {
  font-family: HansKendrick;
  src: url('/static/fonts/HansKendrick-Regular.ttf'); }

  @font-face {
    font-family: Inconsolata;
    src: url('/static/fonts/Inconsolata-dz.otf'); }

    @font-face {
      font-family: Orbitron-black;
      src: url('/static/fonts/orbitron-black-webfont.woff');
      font-weight: normal; }

      @font-face {
        font-family: Orbitron;
        src: url('/static/fonts/orbitron-bold-webfont.woff');
        font-weight: normal; }

        @font-face {
          font-family: Orbitron-light;
          src: url('/static/fonts/orbitron-light-webfont.woff');
          font-weight: normal; }

          @font-face {
            font-family: Raleway;
            src: url('/static/fonts/raleway_thin-webfont.woff'); }

            @font-face {
              font-family: Gen;
              src: url('/static/fonts/Gen-Regular.otf'); }

              @font-face {
                font-family: Gen-light;
                src: url('/static/fonts/Gen-Light.otf'); }

                @font-face {
                  font-family: Gen-light;
                  src: url('/static/fonts/Gen-Regular.otf');
                  font-weight: bold; }

                  @font-face {
                    font-family: Anonymous;
                    src: url('/static/fonts/Anonymous_Pro.ttf');
                    font-weight: normal; }

                    @font-face {
                      font-family: Anonymous;
                      src: url('/static/fonts/Anonymous_Pro_I.ttf');
                      font-weight: normal;
                      font-style: italic; }

                      @font-face {
                        font-family: Anonymous;
                        src: url('/static/fonts/Anonymous_Pro_B.ttf');
                        font-weight: bold;
                        font-style: normal; }

                        @font-face {
                          font-family: Anonymous;
                          src: url('/static/fonts/Anonymous_Pro_BI.ttf');
                          font-weight: bold;
                          font-style: italic; }

                          @font-face {
                            font-family: LeagueGothic;
                            src: url('/static/fonts/leaguegothic-regular-webfont.woff');
                            font-weight: normal;
                            font-style: normal; }

                            @font-face {
                              font-family: LeagueGothic;
                              src: url('/static/fonts/leaguegothic-italic-webfont.woff');
                              font-weight: normal;
                              font-style: italic; }

                              @font-face {
                                font-family: LeagueGothicCondensed;
                                src: url('/static/fonts/leaguegothic-condensed-regular-webfont.woff');
                                font-weight: normal;
                                font-style: normal; }

                                @font-face {
                                  font-family: LeagueGothicCondensed;
                                  src: url('/static/fonts/leaguegothic-condensed-italic-webfont.woff');
                                  font-weight: normal;
                                  font-style: italic; }
#abovebar {
  background: #AAA;
  padding: 4px;
  margin: 0px; }
  #abovebar a {
    cursor: pointer;
    float: left;
    margin: 0px;
    background: none;
    border: 1px solid #AAA;
    font-size: 13px;
    color: #3A3A3A;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px; }
    #abovebar a.active {
      background: #EEE; }
      #abovebar a:hover {
        color: #EEE; }

#belowbar {
  background: #AAA;
  padding: 4px;
  margin: 0px;
  clear: both; }

  #loadcounter {
    font-size: 12px; }

    #framecounter {
      text-align: center;
      display: block;
      float: left;
      height: 100%;
      background: #EEE;
      color: #3A3A3A;
      vertical-align: middle;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 6px;
      padding-right: 6px; }

      #battlefield {
        border: 2px solid #000000;
        background: #FFF;
        margin: 0px;
        padding: 0px;
        float: left; }

        #sidebar {
          float: left;
          padding: 10px; }

          .critterlabel {
            padding: 4px;
            background: #666; }
            .critterlabel.winner {
              border: 2px solid #FFF; }
#editorbox {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0px 3px 16px black; }
  #editorbox #toolbar, #editorbox #statusbar {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background: #8B8B8B;
    color: #FAFAFA;
    font-family: Orbitron-light, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px; }
    #editorbox #toolbar a, #editorbox #statusbar a {
      color: #DCCC22; }
      #editorbox #toolbar a:hover, #editorbox #statusbar a:hover {
        color: #FDDD33; }
        #editorbox #toolbar a:active, #editorbox #statusbar a:active {
          color: #FDDD33; }
  #editorbox #toolbar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    #editorbox #toolbar h1 {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      border-bottom: 1px solid white;
      color: #FFF;
      width: 100%;
      font-family: Orbitron-black, serif;
      font-size: 32px;
      margin-top: 2px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      padding-left: 30px;
      padding-right: 0px; }
      #editorbox #toolbar .items {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        margin-top: 2px; }
        #editorbox #toolbar .item {
          margin: 0px;
          padding: 0px;
          display: inline;
          margin-right: 1px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          font-family: Orbitron-light, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
          font-size: 12px; }
          #editorbox #toolbar .item.left {
            float: left; }
            #editorbox #toolbar .item.right {
              float: right; }
              #editorbox #toolbar .item a {
                padding-left: 6px;
                padding-right: 6px;
                padding-top: 2px;
                padding-bottom: 1px;
                margin: 0px;
                cursor: pointer;
                text-decoration: none;
                background: #666; }
                #editorbox #toolbar .item a:hover {
                  background: #666; }
                  #editorbox #toolbar .item a:active {
                    background: #606060; }
  #editorbox #middlebox {
    background: #CFCFCF; }
    #editorbox #statusbar {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px; }
      #editorbox #statusbar.error {
        background: #B33; }
        #editorbox #statusbar.compiling {
          background: #AA8; }
          #editorbox #statusbar li {
            list-style: none;
            padding: 0px;
            margin: 0px;
            display: inline;
            border-right: 1px solid #FFF;
            padding-right: 6px;
            margin-left: 6px; }
            #editorbox #statusbar #errordisplay {
              margin: auto;
              background: white;
              color: black;
              max-height: 200px;
              overflow-y: auto;
              font-family: Inconsolas, monospace;
              font-size: 12px; }
  #editorbox #editor {
    height: auto; }

#helpbox {
  margin: 0px;
  float: right;
  width: 30%;
  overflow-y: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  font-family: Gen-light, Helvetica, sans-serif;
  font-size: 14px; }
  #helpbox::-webkit-scrollbar {
    width: 12px; }
    #helpbox::-webkit-scrollbar-thumb {
      background: #AAA; }
      #helpbox p {
        padding: 0px;
        text-indent: 20px;
        margin-top: 2px;
        margin-bottom: 2px; }
        #helpbox h1 {
          font-family: Orbitron, Helvetica, sans-serif;
          font-size: 22px;
          font-weight: normal;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 12px;
          margin-bottom: 8px; }
          #helpbox h2 {
            font-family: Anonymous, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 4px;
            border-bottom: 1px dashed #AAA; }
            #helpbox ul {
              margin: 0px; }
              #helpbox table {
                width: 100%;
                margin: 0px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                background: #EEE;
                font-size: 12px;
                border-collapse: collapse; }
                #helpbox table tr {
                  border-top: 1px dotted #CFCFCF; }
                  #helpbox table tr:first-child {
                    border-top: none; }
                    #helpbox table td {
                      padding-top: 2px;
                      padding-left: 4px;
                      padding-right: 4px; }
                      #helpbox table td:first-child {
                        font-weight: bold;
                        padding-right: 8px;
                        font-family: Inconsolas, monospace; }
  #helpbox #tabbuttonbar {
    background: #AAA;
    width: 100%; }
    #helpbox #tabbuttonbar .tabbutton {
      cursor: pointer;
      float: left;
      margin: 0px;
      background: none;
      font-size: 13px;
      color: #3A3A3A;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 8px;
      padding-right: 8px; }
      #helpbox #tabbuttonbar .tabbutton.active {
        cursor: default;
        background: #EEE; }
        #helpbox #tabbuttonbar .tabbutton.active:hover {
          color: #3A3A3A; }
      #helpbox #tabbuttonbar .tabbutton:hover {
        color: #EEE; }

.CodeMirror {
  height: auto;
  width: 70%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .CodeMirror .compile-error {
    background: #581414; }

.CodeMirror-scroll {
  min-height: 10px;
  max-height: 300px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Inconsolas, monospace;
  font-size: 13px; }

  .CodeMirror-dialog {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #141414;
    color: #888;
    z-index: 15;
    padding: 0.1em 0.8em;
    overflow: hidden; }

    .CodeMirror-dialog-top {
      border-top: 1px solid #888; }

      .CodeMirror-dialog-bottom {
        bottom: 0; }

        .CodeMirror-dialog input {
          border: none;
          outline: none;
          background: transparent;
          width: 20em;
          color: inherit;
          font-family: Inconsolas, monospace; }

          .CodeMirror-dialog button {
            height: 100%;
            background: none;
            border: 1px solid #3A3A3A;
            color: #888; }
            .CodeMirror-dialog button:focus {
              background: #3A3A3A;
              color: #BBB; }
#faqlist {
  background: #EEE;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 8px;
  margin-left: 160px;
  margin-right: 160px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px; }
  #faqlist li {
    border-bottom: 1px dotted grey;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 10px; }
    #faqlist li:last-child {
      border-bottom: none; }
      #faqlist li .question {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer; }
#footer {
  text-align: center;
  margin: auto;
  width: 50%;
  color: #999;
  font-size: 12px; }
  #footer .navlist {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px; }
    #footer .navlist li {
      display: inline;
      list-style: none;
      padding: 0px;
      margin-left: 5px;
      margin-right: 5px; }
      #footer .navlist li a {
        color: #DFDFDF; }
        #footer .navlist li a:hover {
          color: #FFF; }
          #footer .navlist li a:active {
            color: #FFF; }
#loginbox {
  float: right;
  margin-left: 14px;
  margin-right: 14px; }

  #loginform {
    max-width: 250px; }
    #loginform fieldset {
      border: 2px solid #3A3A3A;
      border-radius: 8px;
      background: #EEE;
      padding: 16px; }
      #loginform fieldset legend {
        background: #EEE;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 0px;
        border-top: 2px solid #3A3A3A;
        border-left: 1px solid #3A3A3A;
        border-right: 1px solid #3A3A3A;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; }
    #loginform input {
      width: 100%;
      box-sizing: border-box;
      background: #FFF; }
      #loginform input:focus {
        background: #FFFFDD; }
    #loginform label {
      width: 100%;
      display: block;
      box-sizing: border-box; }
      #loginform button {
        width: 100%;
        box-sizing: border-box; }
#battlesettings {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  margin: 0px;
  width: 200px; }

  #critterbox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px 16px;
    width: calc(100% - 200px); }
    #critterbox ul#critterlist {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      cursor: default;
      float: left;
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 35%; }
      #critterbox ul#critterlist li {
        background: #EEE;
        border-bottom: 1px dashed #BBB;
        padding: 8px; }
        #critterbox ul#critterlist li:hover {
          background: #e1e1e1; }
          #critterbox ul#critterlist li .remove {
            color: #DD0000;
            cursor: pointer;
            float: right;
            text-decoration: none; }
            #critterbox ul#critterlist li .remove:hover {
              text-decoration: underline; }
    #critterbox #critterselection {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      float: left;
      margin: 0px;
      min-width: 300px;
      padding-left: 14px;
      width: 65%; }
      #critterbox #critterselection #tabbuttonbar {
        background: #AAA; }
        #critterbox #critterselection #tabbuttonbar .tabbutton {
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          cursor: default;
          background: none;
          color: #3A3A3A;
          cursor: pointer;
          float: left;
          font-size: 13px;
          margin: 0px;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-left: 8px;
          padding-right: 8px; }
          #critterbox #critterselection #tabbuttonbar .tabbutton.active {
            cursor: default;
            background: #EEE; }
            #critterbox #critterselection #tabbuttonbar .tabbutton.active:hover {
              color: #3A3A3A; }
          #critterbox #critterselection #tabbuttonbar .tabbutton:hover {
            color: #EEE; }
      #critterbox #critterselection table {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        cursor: default;
        background: #EEE;
        width: 100%;
        border: 1px solid #888; }
        #critterbox #critterselection table th {
          font-weight: bold;
          padding: 2px;
          text-align: left; }
          #critterbox #critterselection table tr {
            border: none;
            margin: 0px;
            padding: 0px; }
            #critterbox #critterselection table tr:hover {
              background: #e1e1e1; }
        #critterbox #critterselection table tr:first-child {
          border-bottom: 1px solid #888;
          background: #CFCFCF; }
          #critterbox #critterselection table tr:first-child:hover {
            background: #CFCFCF; }
        #critterbox #critterselection table td {
          padding: 2px;
          margin: 0px; }

#createbutton {
  border-radius: 16px;
  background: #AAA;
  clear: both;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  text-decoration: underline;
  width: 200px;
  font-family: Orbitron-light, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.5em; }
  #createbutton:hover {
    background: #9d9d9d; }
#newsbox {
  padding: 4px;
  background: #CCCCCC; }
  #newsbox article {
    width: 400px;
    font-family: Gen-light, Helvetica, sans-serif; }
    #newsbox article h1 {
      font-family: HansKendrick, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: normal;
      margin: 0px;
      padding: 0px;
      background: none; }
      #newsbox article h2 {
        font-family: Anonymous, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        padding-left: 16px;
        font-style: italic;
        background: none; }
#titlebar {
  padding: 6px;
  top: 0px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  background: #8B8B8B;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
  color: #FAFAFA;
  font-family: Orbitron-light, Helvetica, sans-serif; }
  #titlebar a {
    color: #EAEAEA; }
    #titlebar a:hover {
      color: #FFF; }
  #titlebar .center {
    float: center; }
    #titlebar .left {
      float: left;
      margin-left: 20px; }
      #titlebar .left .item {
        float: left;
        padding-left: 5px;
        margin-left: 5px;
        border-left: 1px solid #FFF; }
        #titlebar .left .item:first-child {
          border-left: none; }
  #titlebar .right {
    float: right;
    margin-right: 20px; }
    #titlebar .right .item {
      float: right;
      padding-right: 5px;
      margin-right: 5px;
      border-right: 1px solid #FFF; }
      #titlebar .right .item:first-child {
        border-right: none; }
* {
  box-sizing: border-box; }

  button {
    cursor: default; }
    button a {
      color: black;
      cursor: default;
      text-decoration: none; }

code {
  font-family: Inconsolas, monospace; }

  .clear {
    clear: both; }

    body {
      background: url('/static/images/background2.png');
      padding: 0px;
      font-family: Gen-light, Helvetica, sans-serif;
      font-size: 15px; }

      #flashes {
        background: #FFFF00;
        border-bottom: 1px dotted #FF0000;
        border-top: 1px dotted #FF0000;
        color: #FF0000;
        margin-bottom: 20px;
        margin: auto;
        padding: 4px; }
        #flashes li {
          list-style: none;
          margin-left: 20px; }

#bodybox {
  background: #CFCFCF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #111111;
  font-family: Gen-light, Helvetica, sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 40px; }
  #bodybox h1 {
    -moz-box-sizing: border-box;
    background: #AAA;
    box-sizing: border-box;
    display: block;
    margin: 0px;
    width: 100%;
    font-family: Orbitron-black, serif;
    font-size: 40px;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px; }
    #bodybox h2 {
      margin: 0px;
      margin-bottom: 4px;
      font-family: Orbitron, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: normal; }
      #bodybox h3 {
        margin: 0px; }
        #bodybox h3 font {
          family: Anonymous, Helvetica, sans-serif;
          size: 15px;
          weight: normal; }
  #bodybox h4 {
    margin: 0px;
    font-size: 12px;
    font-weight: normal; }
    #bodybox p {
      padding: 0px;
      margin-bottom: 6px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px; }
      #bodybox section {
        overflow: hidden;
        margin-bottom: 14px;
        margin-top: 14px;
        padding-left: 14px;
        padding-right: 14px; }
        #bodybox .module {
          background: #AAA;
          border-radius: 8px;
          float: left;
          padding: 16px;
          margin-bottom: 0px;
          margin-left: 14px;
          margin-right: 0px;
          margin-top: 14px; }
          #bodybox .news {
            max-width: 400px; }
            #bodybox .modulebox {
              padding-bottom: 14px;
              padding-left: 0px;
              padding-right: 14px;
              padding-top: 0px; }
              #bodybox ul.list {
                list-style: none;
                margin: 0px;
                padding-left: 10px;
                li-list-style: none; }

.right {
  float: right; }

  .left {
    float: left; }
