{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>About Us</h1>
<section>
	<h2>Who we are</h2>
	<p>
		Battle Critters was concieved of by Thomas Rothschilds and implemented by Simon Baumagardt-Wellander. The website is based on an assignment from the CSE 142 class at the University of Washington created by Stuart Reges and Marty Stepp.
	</p>

	<h2>The project so far</h2>
	<p>So far Battle-Critters has a number of features:</p>
	<ul class="list">
		<li>Critter Management</li>
		<li>Full Featured Editor</li>
		<li>Custom Battles</li>
	</ul>
	<h2>The future of the project</h2>
	<p>There are many many features planned for Battle-Critters.</p>
	<ul class="list">
		<li>Critter ranking system</li>
		<li>Matchmaking system</li>
		<li>Nicer color scheme (less gray)</li>
	</ul>
</section>
{% endblock %}