{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
	<h1>Rules</h1>
	<section>
		<p>Lorem ipsum Irure nulla consequat in labore minim dolore voluptate nisi pariatur dolor voluptate laboris eiusmod officia aliqua do occaecat enim aute deserunt labore dolor dolore deserunt exercitation exercitation esse ex ad ut nisi. Lorem ipsum Reprehenderit ea ut sunt est officia deserunt voluptate sunt Ut mollit minim laboris laboris proident pariatur ea pariatur ut in cupidatat id laborum ad ut sunt ea ex Duis Duis Ut laborum deserunt laborum adipisicing eu eiusmod. Lorem ipsum Exercitation consectetur nulla dolor Excepteur veniam dolore Excepteur cupidatat esse nisi in.</p>
		<p>Lorem ipsum Fugiat laboris eu veniam ea nostrud dolore tempor fugiat labore veniam sit sed incididunt culpa ut sed do Duis adipisicing occaecat aliquip eu proident anim aliqua adipisicing voluptate ea exercitation minim velit eiusmod sit in. Lorem ipsum Proident Excepteur in laboris qui in nisi adipisicing in velit id ut Duis dolore id elit sint cillum exercitation enim magna.</p>
	</section>
{% endblock %}