{% extends "layout.html" %}
{% block title %}New User{% endblock %}
{% block body %}
<form action="{{url_for('users_app.new_user')}}" method="POST" id="newuserform">
	<fieldset>
		<legend>Create User</legend>
		<label>
			username
			<input type="text" name="username" autofocus="autofocus" />
			<br />
		</label>
		<label>
			password
			<input type="password" name="password" />
			<br />
		</label>
		<label>
			confirm password
			<input type="password" name="password2" />
			<br />
		</label>
		<button type="Submit">Submit</button>
	</fieldset>
</form>
{% endblock %}