{% extends "layout.html" %}
{% block title %}New Battle{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
CRITTER_LINK = "{{ url_for('editor_app.view_file', owner='insertownerhere', filename='insertfilenamehere') }}";
VIEW_BATTLE_URL = "{{ url_for('battles_app.view_battle', battle_id=999999999) }}";
NEW_BATTLE_URL = "{{url_for('battles_app.new_battle_page')}}";
</script>
<script src="{{url_for('static', filename='js/new_battle.js')}}"></script>
{% endblock %}
{% block body %}
<h1>Custom Battle</h1>
<div class="modulebox">
	<div class="module">
		<h2>Critters</h2>
		<ul id="critterlist">
		</ul>
		<button id="newcritterbutton">Add Critter</button>
	</div>
	<div class="module">
		<h2>Settings</h2>
		<ul class="list">
			<li>length <input id="length" type="number" value="2000" min="1" max="5000" step="1"></input></li>
			<li>width <input id="width" type="range" value="100" min="10" max="300" step="1"></input></li>
			<li>height <input id="height" type="range" value="100" min="10" max="300" step="1"></input></li>
		</ul>
	</div>
	<div class="module">
		<button id="createbutton">Create!</button>
	</div>
</div>
{% endblock %}