{% extends "layout.html" %}
{% block title %}New Battle{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
	CRITTER_LINK = "{{ url_for('editor_app.view_file', owner='insertownerhere', filename='insertfilenamehere') }}";
	VIEW_BATTLE_URL = "{{ url_for('battles_app.view_battle', battle_id=999999999) }}";
	NEW_BATTLE_URL = "{{url_for('battles_app.new_battle_page')}}";
</script>
<script src="{{url_for('static', filename='js/new_battle.js')}}"></script>
{% endblock %}
{% block body %}
<h1>Custom Battle</h1>
<section>
	<div id="battlesettings">
		<h2>Settings</h2>
		Number of Frames <br />
		Height <br />
		Width <br />
	</div>
	<div id="critterbox">
		<h2>Critters</h2>
		<ul id="critterlist">
			<li>Critter1 <a class="remove">X</a></li>
			<li>Critter2 <a class="remove">X</a></li>
			<li>Critter3 <a class="remove">X</a></li>
		</ul>
		<div id="critterselection">
			<div id="tabbuttonbar">
				<a class="tabbutton">My Critters</a>
				<a class="tabbutton">Recently Battled</a>
				<div class="clear"></div>
			</div>
			<table>
				<tr>
					<th>Critter</th>
					<th>Owner</th>
					<th>Rank</th>
					<th>Add</th>
				</tr>
				<tr>
					<td>Husky</td>
					<td>Simon</td>
					<td>264</td>
					<td><a>Add</a></td>
				</tr>
				<tr>
					<td>Husky</td>
					<td>Simon</td>
					<td>264</td>
					<td><a>Add</a></td>
				</tr>
				<tr>
					<td>Husky</td>
					<td>Simon</td>
					<td>264</td>
					<td><a>Add</a></td>
				</tr>
				<tr>
					<td>Husky</td>
					<td>Simon</td>
					<td>264</td>
					<td><a>Add</a></td>
				</tr>
			</table>
		</div>
	</div>
</section>
<a id="createbutton">Create</a>
{% endblock %}